.cards__container--large {
    background: #0e0e0e;
    color: #d9d9d9;
    border-radius: 15px;
}

.movie__title {
    line-height: 1.1;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;    /* Número de líneas antes de truncar */
    overflow: hidden;
}

.movie__description {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;    /* Número de líneas antes de truncar */
    overflow: hidden;
}

.movie__trailer {
    padding-top: 1rem;
    display: inline-block;
    padding: 15px 30px;
    border-radius: 25px;
    background-color: rgb(226, 78, 78);
    color: #d9d9d9;
    text-decoration: none;
}

.movie__info__container--large {
    display: flex;
}

.movie__info__container--large > picture {
    display: flex;
    align-items: center;
}

.movie__info__container--large > picture > img {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.card__img--large {
    object-fit: cover;
    width: 400px;
    height: 600px;
}

.movie__metadata__container--large {
    padding-left: 3rem;
    padding-right: 3rem;
}

.movie__metadata__container--large > h1 {
    margin-top: 4rem;
}

.movie__metadata__container--large > p {
    color: #9f9e9e;
}

/* cards */
.cards__section__header {
    margin-top: 4rem;
}

.cards__header {
    margin-bottom: 2rem;
}

.cards__epoch__selection {
    margin-bottom: 1.5rem;
    outline: 2px solid #ecebeb;
    padding: 15px 5px;
}

.card__container {
    position: relative;
    z-index: 1;
}

.card {
    background-color: #fff;
    position: relative;
    transition: all 0.3s ease;
    z-index: 1;
}

.card__moreicon {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.card__more__container {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px 25px;
}

.card > picture {
    display: flex;
    align-items: center;
    padding: 10px 25px;
}

.card > section {
    padding: 10px 25px;
}

.card__metadata {
    display: none; /* Hide expanded info by default */
    position: absolute;
    top: 0%; /* Position below the card */
    left: 0;
    width: 100%;
    background-color: #fff;
}

.card:hover .card__metadata {
    display: flex;
    position: absolute;
    width: 570px;
    z-index: 10;
    outline: 2px solid #e6e5e5;
    box-sizing: border-box;
}

.card__info {
    padding: 0 25px;
}

.card__img {    
    object-fit: contain;
    width: 250px;
    height: 350px;
}

.card__title {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;    /* Número de líneas antes de truncar */
    overflow: hidden;
}

.card__description {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;    /* Número de líneas antes de truncar */
    overflow: hidden;
}

.card__detail {
    font-size: 15px;
    color: #292929;
}

.card__cast {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;    /* Número de líneas antes de truncar */
    overflow: hidden;   
}

.card__trailer {
    padding-top: 1rem;
    display: inline-block;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: rgb(226, 78, 78);
    color: #0e0e0e;
    text-decoration: none;
}

.cards__displayer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem 9rem;
    position: relative; 
}

.card__container:hover {
    z-index: 10; 
}
